.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  max-width: '100%';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h4 {
  cursor: pointer;
  font-size: 18px;
}

#failed {
  background: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png)
    no-repeat calc(100% - 10px) center;
  background-size: 20px;
}

#imgcontainer {
  position: relative;
}

#imgcontainer img {
  border-style: solid;
  border-color: #980000;
  position: absolute;
  top: 0;
  left: 0;
  scale: 100%;
}

#container2 img {
  border-style: solid;
  border-color: #000097;
  position: absolute;
  top: 0;
  left: 0;
  scale: 100%;
}

#text {
  z-index: 100;
  position: absolute;
  color: #f3ede2;
  font-size: 29px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 60px;
  top: 270px;
}

.col-sm-4,
.col-sm-5,
.col-sm-6 {
  display: inline-block;
  text-align: center;
  height: 400px;
}

.col-sm-3 {
  display: inline-block;
  text-align: center;
  height: 400px;
}

#donut-sm-3 {
  display: inline-block;
  text-align: center;
  height: 300px;
}

#radiobuttons {
  margin: auto;
  width: 40%;
}

#pie1 {
  display: inline-block;
  height: 600px;
}

#pie1:after {
  content: '';
  position: absolute;
  right: 0;
  border-right: 1px solid #cfc7c0;
  top: 10%;
  bottom: 10%;
}

#pie2 {
  display: inline-block;
  height: 600px;
}

#bigbar {
  display: inline-block;
  height: 920px;
}

#multibars {
  display: inline-block;
  height: 800px;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6b6b6b;
}

h6 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6b6b6b;
}

#sumCard {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: 40px; /* Added */
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #6b6b6b;
}

#formRow {
  padding-top: 10px;
}

#twoBar {
  display: inline-block;
  text-align: center;
  height: 350px;
}

#timebar {
  display: inline-block;
  text-align: center;
  height: 550px;
}

#successWhiffBar {
  display: inline-block;
  text-align: center;
  height: 400px;
}

#fourStat {
  display: inline-block;
  text-align: center;
  height: 800px;
}

a {
  color: #f19f9f;
  background-color: transparent;
}

a:hover {
  color: #ff4d4d;
  background-color: transparent;
}

#credits {
  padding-top: 85px;
}

#inserted {
  color: green;
}

#failed {
  color: red;
}

#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}
